@charset "UTF-8";
/* Header styles
-------------------------------------------------- */

.navbar-menu {
	position: relative;
	display: flex;
    height: 50px;
    width: 100%;
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
    padding: 0.01em 16px;
}
.navbar-logo {
    color: #555555;
    width: 200px;
    text-align: center;
}
.navbar-logo:hover {
	text-decoration: none;
}
.navbar-logo .dotcom {
	color: #4CAF50;
}
.navbar-ul {
	flex-direction: row;
	display: inline-flex;
	list-style-type: none;
	padding: 0px;
	float: right;
}
.navbar-a {
	padding: 5px 10px 5px 10px;
}
a.navbar-a:hover {
	text-decoration: none;
}
.avatar-user {
	width: 30px;
	height: 30px;
	float: right;
	margin: 10px;
}
/* Left Sidebar
-------------------------------------------------- */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar a:hover {
	text-decoration: none;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* Content Main styles
-------------------------------------------------- */
/* .content_main {
	margin-left: 200px;
    padding: 1px 16px;
} */
#content {
    width: calc(100% - 200px);
    background-color: var(--white);
    border-radius: 0;
    border: 1px solid var(--black-100);
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 0;
    padding: 24px;
    box-sizing: border-box;
    margin: 0 auto;
    float: right;
}
/* Footer styles
-------------------------------------------------- */
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.15);
  position: fixed;
}
/* Responsive
-------------------------------------------------- */
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
	#content {
		width: 100%;
	}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	#content {
		width: 100%;
	}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	#content {
		width: 100%;
	}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	#content {
		width: calc(100% - 200px);
	}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
	#content {
		width: calc(100% - 200px);
	}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
	#content {
		width: calc(100% - 200px);
	}
}